<!DOCTYPE html>
<html>
<head>
    <link href="../static/css/index.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/index.js"></script>
    <script type="text/javascript" src="../static/js/jquery-1.10.0.min.js"></script>
    <title>济南精毅电子有限公司</title>
    <script type="text/javascript">
        $(function () {
        });
    </script>
</head>
<body>
<div class="header">
    <div id="logo">
        <img src="../static/image/logo.jpg"/>
    </div>

    <div id="topbar">
        <table class="menu_table" style="border: 0;cellspacing:0; cellpadding:0">
            <tr>
                <td>
                    <ul>
                        <li><a><span class="menu_span"><img src="../static/image/spacer.gif">首页</span></a></li>
                        <li><a><span class="menu_span"><img src="../static/image/spacer.gif">关于精毅</span></a></li>
                        <li><a><span class="menu_span"><img src="../static/image/spacer.gif">产品展示</span></a></li>
                        <li><a><span class="menu_span"><img src="../static/image/spacer.gif">客户支持</span></a></li>
                        <li><a><span class="menu_span"><img src="../static/image/spacer.gif">联系我们</span></a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="enter_header_div">
    <label class="enter_name">济南精毅电子有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
</div>
<div class="content">
    <div class="left_panel">
        <div class="left_div">
            关于精毅
        </div>
        <ul class="menu2_ul">
            <li><a><span class="menu_span"><img src="../static/image/spacer.gif">公司简介</span></a></li>
            <li><a><span class="menu_span"><img src="../static/image/spacer.gif">企业文化</span></a></li>
        </ul>
        <div class="left_div">
            联系我们
        </div>
        <div class="text_div">电话:xxxxxxxxxxx</div>
        <div class="text_div">邮箱：xxxx@xx.com</div>
    </div>
    <div class="right_panel">
        济南精毅电子
    </div>
</div>

<div>
    <div class="footer">济南精毅电子有限公司</div>
</div>
</body>
</html>